.contact {
    min-height: 100vh;

    .contact-box-container {
        width          : 93%;
        display        : flex;
        flex-wrap      : wrap;
        justify-content: center;

        .contact-box {

            height       : 15rem;
            flex         : 1 0 30rem;
            margin       : 2rem;
            box-shadow   : var(--boxShadow);
            border-radius: .5rem;
            text-align   : center;
            padding-top  : 4rem;

            i {
                @include fontStyle(4rem, var(--themeColor));
            }

            h3 {
                margin: 2rem 0;
                @include fontStyle(1.8rem, var(--font2));
            }

            .email {
                text-transform: lowercase;
            }
        }
    }
}