@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700;800;900&display=swap");
/* 15 - Feb - 2022   */
:root {
  --themeColor: #ff7a00;
  --black: #111;
  --white: #fff;
  --font1: #666;
  --boxShadow: 0 .2rem .5rem rgba(0, 0, 0, .3);
  --border: .1rem solid rgba(0, 0, 0, .3)
;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  list-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

/*
    100% / 16px = 6.25%
    6.25% == 1px 

    6.25% * 10 = 62.5% 
    62.5% == 10px
*/
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--black);
}

/* 
Style Scale for all 
but in responsive - its resizing at 991px
*/
section {
  padding: 2rem 7%;
  margin-bottom: 3rem;
}

section:last-of-type {
  margin-bottom: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: var(--white);
  z-index: 100;
  padding: 1rem 2rem;
  -webkit-box-shadow: var(--boxShadow);
          box-shadow: var(--boxShadow);
}

.header .logo img {
  height: 4rem;
}

.header .navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .navBar ul li {
  margin: 0 1rem;
}

.header .navBar ul li a {
  font-size: 2rem;
  color: var(--font1);
}

.header .navBar ul li a:hover {
  color: var(--black);
  text-decoration: none;
}

.header .fa-bars {
  display: none;
  cursor: pointer;
  font-size: 2.5rem;
  color: var(--font1);
}

.home .hero {
  min-height: 60vh;
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .hero .text1,
.home .hero .text2 {
  padding: 1rem 2rem;
  text-align: center;
  opacity: 0.8;
  border-radius: .5rem;
}

.home .hero .text1 {
  font-size: 5rem;
  width: 45rem;
  background: #FFF;
}

.home .hero .text2 {
  font-size: 3rem;
  width: 35rem;
  margin-top: 1rem;
  background: var(--themeColor);
  color: var(--white);
}

.home .counting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  min-height: 40vh;
  padding: 2rem 0;
}

.home .counting .box {
  margin: 2rem 4rem;
  text-align: center;
}

.home .counting .box .count {
  font-size: 7rem;
  color: #444;
}

.home .counting .box h3 {
  color: var(--themeColor);
  font-size: 2rem;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .header .fa-bars {
    display: block;
  }
  .header .fa-times {
    color: tomato;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: -webkit-transform .1s linear;
    transition: -webkit-transform .1s linear;
    transition: transform .1s linear;
    transition: transform .1s linear, -webkit-transform .1s linear;
  }
  .header .navBar {
    position: fixed;
    top: 6rem;
    right: -120%;
    width: 100vw;
    height: calc(100vh - 6rem);
    background-color: rgba(0, 0, 0, 0.2);
    border-top: var(--border);
    z-index: 1000;
    -webkit-transition: right .3s linear;
    transition: right .3s linear;
  }
  .header .navBar.userClick {
    right: 0;
  }
  .header .navBar ul {
    height: 100%;
    width: 33rem;
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    float: right;
  }
  .header .navBar ul li {
    margin: 1rem 0;
  }
  .header .navBar ul li a {
    display: block;
    padding: 1rem 0;
    width: 25rem;
    text-align: center;
    border-radius: 5rem;
    border: var(--border);
    text-align: center;
  }
  .header .navBar ul li a:hover {
    background-color: #333;
    color: #fff;
  }
  .home .counting .box {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (max-width: 450px) {
  .home .hero .text1 {
    width: 35rem;
    font-size: 3.5rem;
  }
  .home .hero .text2 {
    width: 30rem;
    font-size: 2.5rem;
  }
  .home .counting .box .count {
    font-size: 5rem;
  }
}
/*# sourceMappingURL=style.css.map */